:root {
    --font-family: 'Nunito Sans', sans-serif;
}

.btn-generic {
    color: white;
    background-color: #2bd2c1;
    padding: 5%;
}

.apartadoFondo {
    background-color: #f0f0f0;
}

/* Primer piso */
.landing {
    width: 90%;
    height: 100%;
    margin-left: 11%;
    margin-left: 5%;
}

.titulo-1 {
    font-size: 190%;
}

.texto1 {
    margin-bottom: 10%;
}

/* segundo piso */

.card-link {
    color: #3EB8AB;
}

.titulo-3 {
    font-size: 35px;
    text-align: center;
    margin-top: 60px;
}

.people-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subtitulo4 {
    text-align: center;
    font-size: 130%;
    margin-top: 2, 5%;
}

.texto4 {
    margin-left: 2ch;
    margin-right: 2ch;
}

.titulo5 {
    font-size: 100%;
    text-align: center;
    font: weight 10px;
    ;
}

.cardtestimoniales {
    padding: 15px;
    margin: 20px;
}

.autoria {
    text-align: center;
}

.carousel {
    margin-left: 2ch;
}
.glider-contain {
    align-items: center;
}
.glider { 
    margin: 2px;
    position: relative;
    align-items: center;
    text-align: center;
	overflow: hidden;
}
.glider-dot.active {
	background:#00D2B5;
}

.glider-prev,
.glider-next {
    position: absolute;
	display: none;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #fff;
	opacity: 20%;
}
.personone {
    border-radius: 100%;
    width: 20%;
    display:block;
    margin:auto;
    max-width: 100%;
    
}
.estimonials-people{
    text-align: center;
}
.img-carousel{
    width: 100%;
    height: 100%;
}
.lolan{
    width: 8%;
}
@media(min-width:1200px){
    .pr{
        width: 4%;
        height: 25%;
    }
}
@media(max-width:600px){
    .pr{
        width: 20%;
        height: 27%;
    }
}

